.box-6-min div {
    background-color: aliceblue;
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.hide-text {
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

button{
    color: white;
    padding: 5px;
      background-color: #e0e3ff;
      color: #9aa3ff;
      cursor: not-allowed;
    
}