.box-6-min div {
    background-color: aliceblue;
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
}

button{
    color: white;

}
button:disabled{
    border-color: grey;
    cursor: not-allowed;
}